[flake8]
select = C,E,F,W,BLK,I,B,B9,S,ANN,D,DAR
max-complexity = 10
max-line-length = 88
ignore = E203,E501,W503,ANN101
    # Various codes from flake8-docstrings we don't care for
    D1,D205,D209,D213,D301,D400,D401,D402,D412,D413,D999,D202,
application-import-names = chiketto,tests
import-order-style = google
per-file-ignores =
    tests/*:S101
docstring-convention = google
